@import url("https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section {
    background-image: linear-gradient(rgba(8, 1, 1, 0.5), rgba(8, 1, 1, 0.5)), url(./images/background.jpg);
    background-size: 100%;
    padding-bottom: 75px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    font-family: "Alegreya Sans", sans-serif;
}

.section-continer {
    background-image: linear-gradient(rgba(8, 1, 1, 0), rgba(8, 1, 1, 0.3)), url(./images/continer.jpg);
    border-radius: 20px;
    width: 65%;
    height: auto;
    margin-top: 50px;
    color: #eec365;
}

.continer-title {
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    margin-top: 15px;
    text-shadow: black 7px 7px 10px;
    font-family: "Molle", cursive;
}

.title {
    font-size: 60px;
}

.year {
    font-size: 100px;
}

.countdown {
    display: flex;
    justify-content: center;
}

.countdown-day {
    background-image: url(./images/date.png);
    background-size: 250px 250px;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0 28%, 100% 27%, 100% 100%, 0% 100%);
    width: 210px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-hour,
.countdown-minut,
.countdown-second {
    background-image: url(./images/date.png);
    background-size: 250px 250px;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0 28%, 100% 27%, 100% 100%, 0% 100%);
    width: 210px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

p.day {
    font-size: 20px;
    padding-top: 1px;
    margin: 75px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    text-align: center;
    width: 155px;
    height: 150px;
}

.day-span {
    font-size: 90px;
    display: block;
}

.main {
    background-image: linear-gradient(rgba(8, 1, 1, 0.5), rgba(8, 1, 1, 0.5)), url(./images/zima-snezhinki-krasnyi-fon-red-golden-black-christmas-winter.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: #eec365;
    padding-bottom: 35px;
    font-family: "Alegreya Sans", sans-serif;
}

.main-continer {
    display: flex;
    justify-content: space-around;
}

.main-buttons {
    margin-top: 50px;
}

.button {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    color: #eec365;
    background-color: #ca2837;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

.button:hover {
    background-color: #981724;
    color: #f2bb43;
    transform: scale(1.1);
}

.main-title {
    padding-top: 70px;
}

.main-title__title {
    text-align: center;
    font-size: 80px;
    font-family: "Molle", cursive;
}

.main-title__subtitle {
    font-size: 23px;
    text-align: center;
    padding: 0 300px 0 300px;
    margin: 10px;
}

.subtitle-span {
    color: red;
    text-transform: uppercase;
}

.main-img {
    width: 300px;
}

.main-text {
    font-size: 50px;
}

.main-results {
    margin-top: 50px;
    width: 550px;
    height: auto;
    text-align: center;
}

.footer {
    padding: 30px 0 30px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-color: #981724;
    font-family: "Alegreya Sans", sans-serif;
    color: #eec365;
}

.footer-continer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-text {
    font-size: 20px;
}

.footer-logo {
    width: 50px;
    margin: 0 0 0 15px;
    background-color: #eec365;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}

.footer-logo:hover {
    transform: scale(1.1);
    background-color: #f2bb43;
}

@media (max-width: 1340px) {
    .section {
        background-size: 1400px;
        background-position: right;
        padding-bottom: 65px;
    }
    .section-continer {
        width: 75%;
        height: auto;
        margin-top: 50px;
    }
    .continer-title {
        width: 70%;
        height: auto;
        padding: 15px 0 0 40px;
        margin-top: 15px;
    }
    .title {
        font-size: 50px;
    }
    .year {
        font-size: 80px;
    }
    .countdown-day {
        background-size: 200px 200px;
        width: auto;
        height: 230px;
    }
    .countdown-hour,
    .countdown-minut,
    .countdown-second {
        background-size: 200px 200px;
        width: auto;
        height: auto;
        margin-left: 5%;
    }
    p.day {
        font-size: 20px;
        padding-top: 15px;
        margin-top: 60px;
        margin-right: 8px;
        width: 125px;
        height: 120px;
    }
    .day-span {
        font-size: 50px;
        display: block;
    }
    /* MAIN */
    .main {
        background-size: 1400px;
        background-position: right;
        padding-bottom: 35px;
    }
    .main-continer {
        display: flex;
        justify-content: space-around;
    }
    .main-buttons {
        margin-top: 50px;
    }
    .button {
        width: 40px;
        height: 40px;
        margin-left: 7px;
        font-size: 19px;
    }
    .main-title {
        padding-top: 50px;
    }
    .main-title__title {
        font-size: 60px;
    }
    .main-title__subtitle {
        font-size: 20px;
        padding: 0 210px 0 210px;
        margin: 10px;
    }
    .main-img {
        width: 270px;
    }
    .main-text {
        font-size: 40px;
    }
    .main-results {
        margin-top: 25px;
        width: auto;
        height: auto;
    }
}

@media (max-width: 850px) {
    .section {
        background-position: right;
        background-size: 1400px;
    }
    .section-continer {
        background-size: 500px;
        width: 70%;
        height: auto;
        margin-top: 140px;
        margin-bottom: 50px;
    }
    .continer-title {
        width: 80%;
        height: auto;
        margin-top: 15px;
    }
    .title {
        font-size: 20px;
    }
    .year {
        font-size: 50px;
    }
    .countdown-day {
        background-size: 80px 80px;
        width: 100px;
        height: 150px;
    }
    .countdown-hour,
    .countdown-minut,
    .countdown-second {
        background-size: 80px 80px;
        width: 90px;
        height: 150px;
        margin-left: 0px;
    }
    p.day {
        font-size: 10px;
        padding-top: 2px;
        margin-top: 24px;
        margin-right: 3px;
        width: 50px;
        height: 49px;
    }
    .day-span {
        font-size: 20px;
    }
    /* MAIN */
    .main {
        background-position: right;
        background-size: 1300px;
    }
    .main-continer {
        display: block;
    }
    .main-buttons {
        margin-top: 0px;
        /* margin-left: 130px; */
        text-align: center;
    }
    .button {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }
    .main-title {}
    .main-title__title {
        font-size: 20px;
    }
    .main-title__subtitle {
        font-size: 10px;
        padding: 0 62px 0 62px;
        margin: 10px;
    }
    .main-img {
        width: 200px;
    }
    .main-text {
        font-size: 35px;
        padding: 0 50px 0 50px;
    }
    .main-results {
        margin-top: 30px;
        width: auto;
        height: auto;
    }
}

@media (max-width: 500px) {
    .section {
        background-position: right;
        background-size: 1400px;
    }
    .section-continer {
        background-size: 500px;
        width: 85%;
        height: auto;
        margin-top: 140px;
        margin-bottom: 50px;
    }
    .continer-title {
        width: 80%;
        height: auto;
        margin-top: 15px;
    }
    .title {
        font-size: 20px;
    }
    .year {
        font-size: 50px;
    }
    .countdown-day {
        background-size: 80px 80px;
        width: 100px;
        height: 150px;
    }
    .countdown-hour,
    .countdown-minut,
    .countdown-second {
        background-size: 80px 80px;
        width: 90px;
        height: 150px;
        margin-left: 0px;
    }
    p.day {
        font-size: 10px;
        padding-top: 2px;
        margin-top: 24px;
        margin-right: 3px;
        width: 50px;
        height: 49px;
    }
    .day-span {
        font-size: 20px;
    }
    /* MAIN */
    .main {
        background-position: right;
        background-size: 1300px auto;
    }
    .main-continer {
        display: block;
    }
    .main-buttons {
        margin-top: 0px;
        /* margin-left: 130px; */
        text-align: center;
    }
    .button {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }
    .main-title {}
    .main-title__title {
        font-size: 20px;
    }
    .main-title__subtitle {
        font-size: 10px;
        padding: 0 62px 0 62px;
        margin: 10px;
    }
    .main-img {
        width: 200px;
    }
    .main-text {
        font-size: 35px;
        padding: 0 50px 0 50px;
    }
    .main-results {
        margin-top: 30px;
        width: auto;
        height: auto;
    }
    .footer {
        display: flex;
        justify-content: center;
    }
    .footer-continer {
        display: block;
    }
    .left-text {
        font-size: 17px;
    }
    .footer-logo {
        width: 40px;
        margin: 25px 0 0 30px;
    }
}